<label class="input__label">
    <input class="input {{modifier}}" placeholder="" name={{ name }} type={{ type }} error={{error}} value={{ value }}>
    <span class="input__text">{{ text }}</span>
    {{> ErrorNotice}}
</label>
