<label class="input-search__label">
  <input class="input-search {{modifier}}" placeholder={{placeholder-text}} name={{ name }} type={{ type }} value={{ value }} >
  <div class="input-search__icon-wrap">
    {{> LoupIcon}}
  </div>
</label>